*{
  margin: 0;
  padding: 0;
}

.center{
  display: flex;
  justify-content: center;
  
}
.center-longText{
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  display: flex;
  justify-content: center;
}
body{
  background-color:black;
}

h1{
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 15%
}

.imagine{
  margin-top: 25%;
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 96px;
}

.buton{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.spookybackground{
  background-image:    url('../public/image/trees.gif');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  height: 100vh;
}

input[type=text]
{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
    

}